<app-canvas
[threshold]="0.6" 
[debugCube]="false" 
[isModelLightMapped]="true" 
[shoeRightPath]="shoeRightPath"
[scale]="1"
[translation]="[0, -0.02, 0]"
></app-canvas>

<div class="swapShoeDiv">
    <button 
    type="btn" 
    class="swapShoeButton btn btn-light" 
    (click)="swapShoe('../../assets/3d-models/barefoot-models/vansShoe.glb')">VANS</button>
    <button 
    type="btn" 
    class="swapShoeButton btn btn-light"
    (click)="swapShoe('../../assets/3d-models/barefoot-models/converseShoe2.glb')">CONVERSE</button>
</div>

